body {
	margin: 2em;
	font-size: 1.2em;
}
#appName {
	margin: 0;
	font-family: 'Fascinate Inline', cursive;
	font-size: 4em;
}

#inboxCount {
	display: inline-block;
}


#topRow {
	text-align: left;

}

table {
	table-layout: fixed;
	width: 100%;
}


td {
	border-bottom: 1px solid #ddd;
	padding: 0;
	padding-right: 50px;
	word-wrap
	height: 50px;
}